@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Montserrat:wght@100&display=swap');

body{
    font-family: 'Montserrat', serif;
}
a{
    text-decoration: none !important;
}

.top_header{
    background-color: #f79d85;
}

.brandname{
    font-family: 'Akaya Telivigala', sans-serif;
}
.navbar-toggler{
    color: #f79d85 !important;

}

.nav-item .deg:hover{
    background: linear-gradient(90deg, 
       white 0%,
        #f79d85 50%,
        white 100%
    );
}

#home{
    background-image: url(./img/01PIC.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
#home .greenbutton{
    background-color: #acd579;
}
#home h1, #home h2{
    color: #f79d85;
}
.divformations{
    background-color: #feefea ;
    min-height: 250px;
    min-width: 250px;
    max-width: 250px;
    max-height: 250px;
}
 .textformations{
    color: #f79d85;
    
 }
 .divcalendrier{
    background-color: #f79d85;
    min-height: 250px;
    min-width: 250px;
    max-width: 250px;
    max-height: 250px;
 }

 .borderCalendrier{
    min-height: 230px;
    min-width: 230px;
    max-width: 230px;
    max-height: 230px;
    border: white 2px solid;

 }
 h3{
    position: relative;
    color: #575759;
 }
 #actualites h3::before{
    content: '';
    width: 0;
    height: 16px;
    position: absolute;
    border: 2px solid black;
    top:55px;
    left: -12px;
 }
 #galerie h3::before{
    content: '';
    width: 0;
    height: 16px;
    position: absolute;
    border: 2px solid black;
    top:8px;
    left: -12px;
 }


.titre_philosophie{
    position: relative;
}
 .titre_philosophie::before{
    content: '';
    width: 0;
    height: 55px;
    position: absolute;
    border: 2px solid black;
    top:8px;
    left: -20px;
 }



#philosophie .greenbutton{
    background-color: #acd579;
}


 #actualites{
    background-color: #fef0ef;
 }

 #actualites .greenbutton{
    background-color: #acd579
}

#actualites a{
    color: #f79d85;
 }

 input{
border-bottom: 1px solid #707070;
border-left: 1px solid #707070;
 }

 #contact .greenbutton{
    background-color: #acd579;
}

#contact .row{
   
    background-color:none;
}


#container-form{
    
    background-image: url(./img/bg-contact.jpg);
    background-position: right;
    background-size: cover;
}

#fond_contact{
  
    
    background: linear-gradient(180deg, 
    #fef0ef 0%,
    #fef0ef 15%,
    white 15%,
    white 85%,
    #f79d85 85%, 
    #f79d85 100%);
}

#container-form{
    z-index: 2;
}

#userMail, #inputEmail, #comment{
    border-top: none;
    border-left: none;
    border-bottom: 1px solid grey;
    border-left:1px solid grey;
    background-color: #f1f1f300;
}

footer{
    background-color: #f79d85;
    
}


 footer a{
    text-decoration: none;
}

.logo-footer{
    filter:brightness(100)

}




/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #philosophie{
        background-image: url(./img/philo.jpg);
        background-repeat: no-repeat;
        background-position: -300px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #philosophie{
        background-image: url(./img/philo.jpg);
        background-repeat: no-repeat;
        background-position: -300px;
    }
     
    
}
    
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #philosophie{
        background-image: url(./img/philo.jpg);
        background-repeat: no-repeat;
        background-position: -250px;
    }
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #philosophie{
        background-image: url(./img/philo.jpg);
        background-repeat: no-repeat;
        background-position: left;
    }
 }

    
 

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    #philosophie{
        background-image: url(./img/philo.jpg);
        background-repeat: no-repeat;
        background-position: -150px 0;
    
     }
    
    
 }