@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Montserrat:wght@100&display=swap');

body{
    font-family: 'Montserrat', serif;
}
a{
    text-decoration: none !important;
}

.top_header{
    background-color: #f79d85;
}

.brandname{
    font-family: 'Akaya Telivigala', sans-serif;
}
.togglerorange{
    color: #f79d85;
}

#home{
    background-image: url(./img/01PIC.jpg);
}
#home .greenbutton{
    background-color: #acd579;
}
#home h1, #home h2{
    color: #f79d85;
}
.divformations{
    background-color: #feefea ;
}
 .textformations{
    color: #f79d85;
 }
 .divcalendrier{
    background-color: #f79d85;
 }

 #philosophie{
    background-image: url(./img/philo.jpg);
 }
 .titre_philosophie{
    border-left: black solid 5px;
 }

#philosophie .greenbutton{
    background-color: #acd579;
}