@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Montserrat:wght@100&display=swap');

body{
    font-family: 'Montserrat', serif;
}

.top_header{
    background-color: #f79d85;
}

.brandname{
    font-family: 'Akaya Telivigala', sans-serif;
}
.togglerorange{
    color: #f79d85;
}

#home{
    background-image: url(./img/01PIC.jpg);
}
#home .greenbutton{
    background-color: #acd579;
}
#home h1, #home h2{
    color: #f79d85;
}